html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  background: #5fc5ed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Baloo Da 2', cursive;

}

#instructions {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.title {
  opacity: 50%;
  margin: 0
}

h2, p{
  margin: 0
}

#queue-viz{
  
}

.queue-element{
  border: 2px solid black;
  padding: 2px;
  margin: 0px 4px;
  display: inline-block;
}

.current-player{
  background: deeppink;
}
