html, body {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  background: #5fc5ed;
  font-family: 'Baloo Da 2', cursive;
}

#defaultCanvas0{
  margin-bottom: 50px;
}

#instructions {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

#rules{
  background: white;
  padding: 1%;
}

#list{
  text-align: left;
}

.title {
  opacity: 50%;
  padding-top: 16px;
}

h2, p{
  margin: 0
}

.heading{
  font-size: 20px;
  text-decoration: underline;
}

.queue-element{
  border: 2px solid black;
  padding: 2px;
  margin: 0px 4px;
  display: inline-block;
  background: white;
}

.current-player{
  background: deeppink;
}
